TwitterntJSF-ejb/build
TwitterntJSF-ejb/dist
TwitterntJSF-ejb/nbproject
TwitterntJSF-ejb/setup
TwitterntJSF-ejb/build.xml
TwitterntJSF-ejb/src/conf

TwitterntJSF-war/build
TwitterntJSF-war/dist
TwitterntJSF-war/nbproject
TwitterntJSF-war/build.xml
TwitterntJSF-war/src/conf
TwitterntJSF-war/web/WEB-INF


/build.xml
/build
/dist
/nbproject
/src
